 /*-✧༺⋞ 〈 "№1" 〉 ⋟༻✧-*/
a:hover {
	color: red;
	text-decoration: none;
}

a:link {
	color: blue;
	text-decoration: none;
}
  
a:visited {
	color: green;
}
  
a:active {
	color: black;
}

 /*-✧༺⋞ 〈 "№2" 〉 ⋟༻✧-*/
a {
	color: blue;
	text-decoration: none;
}
  
a:hover {
	color: red;
	text-decoration: underline;
}
  