h1 {
	text-align: center;
}

/*-✧༺⋞ 〈 "№1" 〉 ⋟༻✧-*/
#q li:first-child {
	color: red;
}
/*-✧༺⋞ 〈 "№2" 〉 ⋟༻✧-*/
#w li:last-child {
	color: green;
}
/*-✧༺⋞ 〈 "№3" 〉 ⋟༻✧-*/

/*-✧༺⋞ 〈 "№4" 〉 ⋟༻✧-*/

#e li:nth-child(3) {
	color: red;
}

/*-✧༺⋞ 〈 "№5" 〉 ⋟༻✧-*/
#r li:nth-child(odd) {
	color: red;
}
#r li:nth-child(even) {
	color: green;
}
/*-✧༺⋞ 〈 "№6" 〉 ⋟༻✧-*/

#t li:nth-child(3n) {
	color: red;
}

/*-✧༺⋞ 〈 "№7" 〉 ⋟༻✧-*/

#y li:nth-last-child(2) {
	color: red;
}

/*-✧༺⋞ 〈 "№8" 〉 ⋟༻✧-*/

#u li:only-child {
	color: red;
}

/*-✧༺⋞ 〈 "№9" 〉 ⋟༻✧-*/

#i li {
    width: 100px;
    padding: 3px;
    margin-top: 10px;
    border: 1px solid red;
}

#i li:empty {
    border: 1px solid blue;
}