#parent {
	width: 160px;
    /*height: 250px;*/
	border: 1px solid red;
}
#child {
	margin-top:    40px; /* сверху */
	margin-right:  40px; /* справа */
	margin-bottom: 100px; /* снизу */
	margin-left:   40px; /* слева */
	
	height: 80px;
	border: 1px solid green;
}

#parent1 {
	width: 160px;
	border: 1px solid red;
}
#child1 {
	margin-top:    30px; /* сверху */
	margin-right:  20px; /* справа */
	margin-bottom: 30px; /* снизу */
	margin-left:   20px; /* слева */
	
	height: 80px;
	border: 1px solid green;
}

#parent2 {
	width: 160px;
	border: 1px solid red;
}
#child2 {
	margin-top:    10px; /* сверху */
	margin-right:  55px; /* справа */
	margin-bottom: 10px; /* снизу */
	margin-left:   55px; /* слева */
	
	height: 80px;
	border: 1px solid green;
}