#parent {
	width: 200px;
	border: 1px solid orange;
}

#child {
	height: 50px;
	border: 1px dashed blue;
	margin: 25px 50px 100px 10px;
}

#parent1 {
	width: 200px;
	border: 1px solid orange;
}

#child1 {
	height: 50px;
	border: 1px dashed blue;
	margin: 100px 50px;
}

#parent2 {
	width: 200px;
	border: 1px solid orange;
}

#child2 {
	height: 50px;
	border: 1px dashed blue;
	margin: 25px 50px;
}

#parent3 {
	width: 200px;
	border: 1px solid orange;
}

#child3 {
	height: 50px;
	border: 1px dashed blue;
	margin: 100px 50px 30px;
}

#parent4 {
	width: 400px;
	border: 1px solid orange;
}

#child4 {
	height: 50px;
	border: 1px dashed blue;
	margin: 30px 100px 50px;
}