.parent, .parent1, .parent2, .parent3  {
	height: 400;
	border:1px solid red;
	display: flex;
	justify-content: center;
}
.child {
	width: 120px;
	height: 60px;
	border: 1px solid green;
}

.parent1, .parent2, .parent3 {
	height: 200;
	border:1px solid red;
	display: flex;
	justify-content: space-between;
}

.parent2 {
	justify-content: space-around;
}

.parent3 {
	justify-content: space-evenly;
}
