h1 {
	text-align: center;
}
.success {
	color: green;
}
.error {
	color: red;
}
.large {
	font-size: 30px;
}
.small {
	font-size: 20px;
}
.sigma {
	font-size: 40px;
}
.moment {
	color: purple;
}
.typa {
	text-align: center;
}