p1 {
	font-family: Arial;
}

p2 {
	font-family: Georgia;
}

p3 {
	font-family: Verdana;
}

p4 {
	font-family: "Trebuchet MS";
}

p5 {
	font-family: Impact;
}

p6 {
	font-family: "Arial Black";
}

p7 {
	font-family: "Comic Sans MS";
}

p8 {
	font-family: "Courier New";
}
