r {
	color: rgb(225, 0, 255);
}

p1 {
    font: 13px/20px "Times New Roman";
}

p2 {
    width: 300px;
    font: bold 40px Arial;
    color: red;
}

p3 {
    font: bold italic 40px/60px Arial;
    text-indent: 50px;
}