
r {
	color: red;
}

g {
	color: green;
}

blue {
	color: blue;
}

o {
	color: orange;
}

p1 {
	color: #ffc0cb;
}

p2 {
	width: 300px;
}

p3 {
	color: rgb(139, 0, 255);
}

td {
	width: 400px;
	height: 300px;  
}
